.section p {
    margin: 6px 0;
}

.post-title span.dot {
    color: var(--accent);
    margin: 0 3px;
}

.post-title {
    margin-bottom: 4px;
}

#blog-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}