:root {
    scroll-behavior: smooth;
}

.main {
    width: 100vw;
    padding: 0;
}

.landing-item {
    width: 100vw;
    height: 450px;
    overflow: hidden;
}

.info {
    background-image: url("/img/info-card.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.info-item {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.info-text h1, .info-text p {
    margin: 4pt;
}

.hero {
    background-image: url("/img/landing.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: 1;
}

.hero-logo {
    width: 100%;
    max-height: 20%;
    position: relative;
    padding: 64px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.info-details {
    width: 90%;
    height: 100%;
    text-align: center;
    background-color: #10101080;
    padding: 0% 5%;
}

.partners {
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 74px);
    min-height: 500px;
    z-index: 1;
    display: flex;
    background: linear-gradient(180deg,#1c0a57 0%, #330466 25%, #c05d02 100%);  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.opt1 {
    background-image: url('/taiganet.png');
}

.opt2 {
    background-image: url('/battaglia.png');
}

.partners-item {
    width: 50%;
    height: 100%;
    object-fit: cover;
    
}

.partners-details {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.partners-links {
    width: 100%;
    flex: auto;
    height: 400px;
    display: flex;
    align-content: stretch;
    max-height: 50%;
    max-width: 800px;
    margin: auto;
}

.channel-ql {
    text-decoration: none;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

.chql {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    transition: 0.5s ease;
    transform: scale(1);
}

.chql-cover {
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: .4s ease;
    background-color: #00000080;
    display: flex;
    transition: 0.5s ease;
    transform: scale(1);
}

.chql:hover {
    transform: scale(1.2);
}

.chql-cover:hover {
    opacity: 1;
    transform: scale(1.2);
}

.chql-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}

.hero-cont {
    width: 80%;
    height: 100%;
    padding: 0 10%;
}

.info-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.roku {
    background-image: url("/img/roku-card.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    display: flex;
}

.roku-item {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.roku-details {
    width: 90%;
    height: 100%;
    text-align: center;
    background-color: #10101080;
    padding: 0% 5%;
}

.roku-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.roku-text h1, .roku-text p, .roku-text a {
    margin: 4pt;
}

.info-btn {
    margin-top: 4pt;
}

.roku-btn {
    background-color: #662d91;
    color: #ffffff;
    height: 32px;
    border: none;
    border-radius: 4px;
    padding: 0 12px;
    cursor: pointer;
}

.info-text br {
    margin: 16px;
}

.footer {
    display: block !important;
}

.weatherscan {
    background-image: url("/img/weatherscan-card.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    display: flex;
}

.weatherscan-item {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.weatherscan-details {
    width: 90%;
    height: 100%;
    text-align: center;
    background-color: #10101080;
    padding: 0% 5%;
}

.weatherscan-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.weatherscan-text h1, .weatherscan-text p, .weatherscan-text a {
    margin: 4pt;
}

.ws4k {
    background-image: url("/img/ws4k-card.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    display: flex;
}

.ws4k-item {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.ws4k-details {
    width: 90%;
    height: 100%;
    text-align: center;
    background-color: #10101080;
    padding: 0% 5%;
}

.ws4k-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.ws4k-text h1, .ws4k-text p, .ws4k-text a {
    margin: 4pt;
}