.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 500,
            'GRAD' 200,
            'opsz' 48
}
body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at top, #e3f2fd, #90caf9);
    /*box-shadow: inset 0 0 12px #00000080;*/

    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#shapes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.shape {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: grab;
    user-select: none;
    z-index: 1;
}
.shape:active {
    cursor: grabbing;
}

.social-buttons {
    margin-top: 40px;
}

.social-buttons a {
    margin: 10px;
    text-decoration: none;
    font-size: 1.2em;
    color: #0d47a1;
    transition: color 0.3s ease-in-out;
    animation: fadeIn 2s ease-in-out;
}
#addbtn {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 332;

    border: 0;
    margin: 8px;
    border-radius: 64px;
    width: 72px;
    height: 72px;

    background-color: #2bb8e7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dl-tooltip {
    position: fixed;
    left: 80px;
    bottom: 0;
    z-index: 332;

    border: 0;
    margin: 8px;
    border-radius: 64px;
    width: 200px;
    height: 36px;

    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dl-disable-btn {
    position: fixed;
    left: 72px;
    bottom: 43px;
    z-index: 332;

    border: 0;
    margin: 8px;
    border-radius: 64px;
    width: 48px;
    height: 48px;

    background-color: #488299;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dl-disable-btn span {
    font-size: 34px !important;
}
#add-shape {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 332;
    background-color: rgba(0, 0, 0, 0.627);
}
#add-shape-content {
    display: block;
    position: fixed;
    width: 400px;
    height: 488px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.251);
    z-index: 333;
    border-radius: 36px;
    overflow: hidden;
    transition: height .3s ease, width .3s ease;
}
#add-shape .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
#add-shape .buttons button {
    border: 0;
    margin: 8px;
    border-radius: 64px;
    width: 72px;
    height: 72px;
    font-size: 12pt;
}
#add-shape-take-picture {
    background-color: #2bb8e7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#add-shape-apply {
    background-color: #2bb8e7;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
}
#add-shape-retake {
    display: none;
    justify-content: center;
    align-items: center;
}
#add-shape .buttons button span, #addbtn span {
    font-size: 48px !important;
}
#add-shape-close {
    display: none;
    justify-content: center;
    align-items: center;
}
#add-shape .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#add-shape .input {
    width: 100%;
    height: 400px;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    transition: height .3s ease, width .3s ease;
}
#add-shape .input .countdown {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.502);

    display: none;
    justify-content: center;
    align-items: center;
}
#add-shape .input .countdown span {
    color: #ffffff;
    font-weight: bold;
    font-size: 128px;
}
#add-shape .output {
    width: 100%;
    height: 400px;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
#add-shape-snapshot {
    width: 240px;
    height: 240px;
    display: none;
}
#add-shape-preview {
    width: auto;
    height: 100%;
}
#add-shape-photo {
    width: auto;
    height: 100%;
}


#download-shape {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 332;
    background-color: rgba(0, 0, 0, .6207);
}
#download-shape-content {
    display: block;
    position: fixed;
    width: 400px;
    height: 488px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.251);
    z-index: 333;
    border-radius: 36px;
    overflow: hidden;

    transition: height .3s ease;
    animation-name: height-in;
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes height-in {
    from {
        height: 0px;
    }
    to {
        height: 488px;
    }
}
@keyframes height-out {
    from {
        height: 488px;
    }
    to {
        height: 0px;
    }
}
#download-shape .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#download-shape .buttons button {
    border: 0;
    margin: 8px;
    border-radius: 64px;
    width: 72px;
    height: 72px;
    font-size: 12pt;
}
#download-shape-download {
    background-color: #2bb8e7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#download-shape-download[disabled] {
    opacity: .5;
}
.popup-alert {
    background-color: #283236;
    padding: 16px;
    border-radius: 16px;
    position: absolute;
    top: 80%;
    transform: translate(-50%, 24px);
    left: 50%;
    width: 400px;
    box-sizing: border-box;
}
.popup-alert p {
    color: white;
    margin: 0;
}
#download-shape-close {
    justify-content: center;
    align-items: center;
}
#download-shape .buttons button span, #addbtn span {
    font-size: 48px !important;
}
#download-shape .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
}
#download-shape .input {
    width: 100%;
    height: 400px;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}
#download-shape .input .countdown {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.502);

    display: none;
    justify-content: center;
    align-items: center;
}
#download-shape .input .countdown span {
    color: #ffffff;
    font-weight: bold;
    font-size: 128px;
}
#download-shape .output {
    width: 100%;
    height: 400px;
    aspect-ratio: 1;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#download-shape-qrcode {
    width: 240px !important;
    height: 240px !important;
}
#download-shape-preview {
    width: auto;
    height: 100%;
    background-size: auto 100%;
    background-position: center;
}
#download-shape-photo {
    width: auto;
    height: 100%;
}
#add-shape-camera-select {
    width: fit-content;
    box-sizing: border-box;
    cursor: default;
    position: absolute;
    bottom: 96px;
    left: 8px;
}